body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(120deg, #ffdde1, #ee9ca7);
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.tile {
  width: 80px;
  height: 80px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
}
